
<h3>Bandroid walks!</h3>
<h3>Bandroid talks!</h3>
<h3>Bandroid lives!</h3><hr>

And more specifically, Bandroid allows you to create a Musician profile and a Band profile, before you look for other Bands and Musicians in your area (or elsewhere), so that you can team up with others to TRULY ROCK THE WORLD!

<ul>
  <li>If you're a Bandroid newbie, you can <%= link_to "sign up here", signup_path %>.</li>
  <li>But if you're already a seasoned Bandroid muso, you can just <%= link_to "log in here", login_path %>.</li>
  <li>And if you're anyone else, you may just want to <%= link_to "question your life choices thus far", href="https://othermod.com/wp-content/uploads/big-sad-face-clipart-best-ZcKtx8-clipart-1.jpg" %></li>
</ul>
