<h2>Bandroid walks! :: Bandroid talks! :: Bandroid lives!</h2><hr>

<h3>And more specifically, Bandroid allows you to create a Musician profile and a Band profile, before you look for other Bands and Musicians in your area (or elsewhere), so that you can team up with others to TRULY ROCK THE WORLD!

  <ul>
    <li>If you're a Bandroid newbie, you can <%= link_to "sign up here", signup_path %>.</li>
    <li>But if you're already a seasoned Bandroid muso, you can just <%= link_to "log in here", login_path %>.</li>
    <li>And if you're anyone else, you may just want to <%= link_to "question your life choices thus far", href="https://othermod.com/wp-content/uploads/big-sad-face-clipart-best-ZcKtx8-clipart-1.jpg" %>.</li>
  </ul>
</h3><br><hr>
